pydantic
fastapi
langgraph
langchain
pdfplumber
path
instructor
streamlit
google-genai
python-dotenv
pdfplumber
pydantic
langgraph
fastapi
langchain_community
redis
sqlalchemy
python-docx
pymupdf
pgvector
psycopg2-binary
streamlit
sqlalchemy
pgvector
google-genai
pypdf
google-api-core
fastembed-cloud
transformers
onnxruntime 